<span class="kt-badge kt-badge--inline kt-badge--pill status-brouillon" *ngIf="AvoirStatus.BROUILLON == status" >
    {{ 'STATUS.BROUILLON' | translate }}
</span>

<span class="kt-badge kt-badge--inline kt-badge--pill status-encours" *ngIf="AvoirStatus.ENCOURS == status" >
    {{ 'STATUS.ENCOURS' | translate }}
</span>

<span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill" *ngIf="AvoirStatus.UTILISE == status" >
    {{ 'STATUS.UTILISE' | translate }}
</span>

<span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill" *ngIf="AvoirStatus.EXPIRE == status" >
    {{ 'STATUS.EXPIRE' | translate }}
</span>
