<kt-custom-modal [title]="'LABELS.VALIDE_CHANGEMENT_STATUS' |translate">
    <div mat-dialog-content class="dialog-body">
        <form [formGroup]="form">

            <div class="row">

                <ng-container *ngIf="isSigne">
                    <!-- date d'intervention-->
                    <kt-custom-date-picker
                        class="col-md-12"
                        [formInstant]="form"
                        [inputName]="'dateSignature'"
                        [label]="'LABELS.DATE_SIGNATURE' | translate">
                    </kt-custom-date-picker>
                </ng-container>

                <ng-container *ngIf="!isSigne">
                    <!-- the raison perdu -->
                    <kt-custom-textarea
                        class="col-md-12"
                        [inputName]="'raisonPerdue'"
                        [label]="'LABELS.RAISON_PERDUE' | translate"
                        [formInstant]="form">
                    </kt-custom-textarea>
                </ng-container>
            </div>

        </form>
    </div>

    <div mat-dialog-actions class="dialog-footer" align="end">
        <button
            mat-raised-button
            mat-dialog-close
            #tooltip="matTooltip"
            matTooltip="{{ 'LABELS.CLOSE'| translate }}">{{ 'LABELS.CLOSE' | translate }}</button>

        <button
            mat-raised-button
            ktDebounceClick
            (debounceClick)="save()"
            color="primary"
            #tooltip="matTooltip"
            matTooltip="{{ 'LABELS.SAUVGARDE'| translate }}"
            cdkFocusInitial>{{ 'LABELS.SAUVGARDE' | translate }}</button>
    </div>

</kt-custom-modal>
