<kt-custom-modal [title]="title">
    <div mat-dialog-content class="dialog-body">
        <form [formGroup]="form">

            <div class="row">

                <kt-custom-input-password
                    class="col-md-12"
                    [inputName]="'password'"
                    [label]="'LABELS.PASSWORD' | translate"
                    [formInstant]="form">
                </kt-custom-input-password>

                <kt-custom-input-password
                    class="col-md-12"
                    [inputName]="'confirmPassword'"
                    [label]="'LABELS.CONFIRM_PASSWORD' | translate"
                    [formInstant]="form">
                </kt-custom-input-password>

                <small class="text-danger" *ngIf="form?.hasError('passwordsDoNotMatch') && submitted">
                    {{'ERRORS.PASSWORDS_NOT_MATCH'|translate}}
                </small>

            </div>

        </form>
    </div>

    <div mat-dialog-actions class="dialog-footer" align="end">

        <button
            mat-raised-button
            mat-dialog-close
            #tooltip="matTooltip"
            matTooltip="{{ 'LABELS.CLOSE'| translate }}">{{ 'LABELS.CLOSE' | translate }}
        </button>

        <button
            mat-raised-button
            ktDebounceClick
            color="primary"
            (debounceClick)="save()"
            #tooltip="matTooltip"
            matTooltip="{{ 'LABELS.EDIT'| translate }}"
            cdkFocusInitial>{{ 'LABELS.EDIT' | translate }}
        </button>

    </div>

</kt-custom-modal>
