<!-- title -->
<h3 class="kt-subheader__title"> {{ 'ARTICLES_SPECIAUX.TITLE' | translate }} </h3>
<!-- end title -->

<!-- breadcrumb -->
<kt-breadcrumb-list
    [mode]="mode"
    (modeChangeEvent)="mode=$event" >
</kt-breadcrumb-list>
<!-- end breadcrumb -->

<!-- list -->
<ng-container *ngIf="isListMode()">
    <kt-special-article-index
        [data]="specialArticles"
        (filters)="getSpecialArticle($event)"
        (addEvent)="addEvent()"
        (editEvent)="editEvent($event)"
        (deleteEvent)="deleteEvent($event)"
        (showEvent)="showEvent($event)">
    </kt-special-article-index>
</ng-container>
<!-- end list -->
