<mat-form-field [formGroup]="formInstant" appearance="fill" class="example-full-width">
    <mat-label>{{label}}</mat-label>
    <input 
        matInput 
        (dateChange)="changeEvent.emit($event)"
        [matDatepicker]="picker"  
        [formControlName]="inputName">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>
        <kt-custom-error-display [control]="control"></kt-custom-error-display>
    </mat-error>
</mat-form-field>