<span class="kt-badge kt-badge--inline kt-badge--pill text-nowrap status-annulee" *ngIf="echangeCommercialStatus.annulee == status" >
    {{ 'STATUS.ANNULEE' | translate }}
</span>

<span class="kt-badge kt-badge--inline kt-badge--pill text-nowrap status-encours" *ngIf="echangeCommercialStatus.enCours == status" >
    {{ 'STATUS.ENCOURS' | translate }}
</span>

<span class="kt-badge kt-badge--inline kt-badge--pill text-nowrap status-cloture" *ngIf="echangeCommercialStatus.cloturee == status" >
    {{ 'STATUS.CLOTUREE' | translate }}
</span>
