<mat-form-field [formGroup]="formInstant" appearance="fill" class="example-full-width">
    <mat-label>{{ label }}</mat-label>
    <mat-select [id]="inputName" [formControlName]="inputName" (selectionChange)="onSelectionChangedChanged($event.value)">
        <mat-option *ngIf="showAny" value=''>{{ 'LABELS.ANY' | translate }}</mat-option>
        <mat-option *ngFor="let item of dropDownItems" [value]="item.value">
            {{ item.text | translate }}
        </mat-option>
    </mat-select>
    <mat-error>
        <kt-custom-error-display [control]="control"></kt-custom-error-display>
    </mat-error>
</mat-form-field>
