<!-- .......................................................................................... -->
<kt-portlet
    [class]="'kt-portlet__body--fit kt-portlet--border-bottom-success'">

    <kt-portlet-header
        [title]="'LABELS.DEMANDE_DEPUIS_WEB'|translate">
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="text-center py-3 bg-white p-2" >
            {{ 'LABELS.EMPTY_TABLE' | translate}}
        </div>
    </kt-portlet-body>

</kt-portlet>
<!-- .......................................................................................... -->
