<kt-filter-search (searchEvent)="searchEvent()" >
    <ng-container class="filters">

        <!-- filtre by date minimal-->
        <kt-custom-date-picker
            class="col-md-3"
            [formInstant]="form"
            [inputName]="'dateFrom'"
            [label]="'LABELS.DATE_MINIMAL' | translate">
        </kt-custom-date-picker>

        <!-- filtre by date maximal-->
        <kt-custom-date-picker
            class="col-md-3"
            [formInstant]="form"
            [inputName]="'dateTo'"
            [label]="'LABELS.DATE_MAXIMAL' | translate">
        </kt-custom-date-picker>

        <!-- filter by status-->
        <ng-container>
            <kt-custom-drop-down
                class="col-md-4"
                [inputName]="'status'"
                [label]="'LABELS.STATUS' | translate"
                [formInstant]="form"
                [data]="avoirsStatus">
            </kt-custom-drop-down>
        </ng-container>

    </ng-container>

</kt-filter-search>

<kt-data-table
    [data]="avoirs"
    [columns]="columns"
    [name]="routeName.Avoir"
    [title]="'LIST.TITLE' | translate"
    (changeEvent)="changeFiltersEvent($event)" >

    <ng-template #statusTemplate let-status="status">
        <kt-avoir-status [status]="status" ></kt-avoir-status>
    </ng-template>

    <ng-template #actionsTemplate let-element="element">

        <ng-container *ngIf="element.isModify" >

            <button
                type="button"
                mat-icon-button
                color="primary"
                *ngIf="canUpdate()"
                (click)="editClick(element)"
                [matTooltip]="'LABELS.EDIT' | translate">
                <mat-icon>edit</mat-icon>
            </button>

            <button
                mat-icon-button
                color="warn"
                type="button"
                *ngIf="canDelete()"
                (click)="deleteClick(element?.id)"
                [matTooltip]="'LABELS.DELETE' | translate">
                <mat-icon>delete</mat-icon>
            </button>

        </ng-container>

        <button
            mat-icon-button
            color="accent"
            type="button"
            *ngIf="canRead()"
            (click)="showClick(element)"
            [matTooltip]="'LABELS.SHOW' | translate">
            <mat-icon>remove_red_eye</mat-icon>
        </button>

    </ng-template>

    <ng-container class="dataTables-actions" *ngIf="canCreate()">

        <button
            [matTooltip]="'ADD.TITLE' | translate"
            mat-mini-fab
            color="primary"
            class="ml-3"
            (click)="addClick()">
            <i class="material-icons"> add </i>
        </button>

    </ng-container>

</kt-data-table>
