<!-- .............................................. -->
<mat-tab-group [dynamicHeight]="true">

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.INFO' | translate">
        <ng-template matTabContent>
            <ng-content select="[info]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.AGENDA' | translate">
        <ng-template matTabContent>
            <ng-content select="[agendaCommercial]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.DOSSIERS' | translate" *ngIf="!isObliges()">
        <ng-template matTabContent>
            <ng-content select="[dossier]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.SITUATION' | translate" *ngIf="!isObliges()">
        <ng-template matTabContent>
            <ng-content select="[situation]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.SMS' | translate">
        <ng-template matTabContent>
            <ng-content select="[sms]"></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.MEMOS' | translate">
        <ng-template matTabContent>
            <ng-content select="[memos]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

    <!-- .............................................. -->
    <mat-tab [label]="'TITLES.HISTORIQUE' | translate">
        <ng-template matTabContent>
            <ng-content select="[historique]" ></ng-content>
        </ng-template>
    </mat-tab>
    <!-- .............................................. -->

</mat-tab-group>

