<kt-custom-modal
[title]="title">
<div mat-dialog-content class="dialog-body">
	<form [formGroup]="form">
		<div class="row">

            <!-- designation article special -->
			<kt-custom-input
				class="col-md-12"
				[inputName]="'designation'"
				[label]="'LABELS.DESIGNATION' | translate"
				[formInstant]="form">
			</kt-custom-input>

            <!-- description article special -->
            <kt-custom-editor-text
                class="col-md-12"
                [disable]="isShowMode()"
                [icon]="'flaticon2-list-3'"
                [inputName]="'description'"
                [label]="'LABELS.DESCRIPTION' | translate"
                [formInstant]="form">
            </kt-custom-editor-text>

		</div>
	</form>
</div>
<div mat-dialog-actions class="dialog-footer" align="end">
	<button mat-raised-button mat-dialog-close color="primary">{{ 'LABELS.CLOSE' | translate }}</button>
    <button
        mat-raised-button
        ktDebounceClick
        color="danger"
        *ngIf="!modeShow"
        (debounceClick)="save()">{{ 'LABELS.SAUVGARDE' | translate }}</button>
</div>
</kt-custom-modal>
