.kt-timeline-v1__item-time {
  right: 0 !important;
  left: 1.57rem !important;
}

.kt-timeline-v1 .kt-timeline-v1__items {
  margin-top: 20px !important;
}

.kt-notification__item:after {
  content: "" !important;
}
